In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv('../../dataset/household_power_consumption.txt', sep=';', na_values='?', dtype = {'Global_active_power': float, 
        'Global_reactive_power': float, 'Voltage': float, 'Global_intensity': float, 'Sub_metering_1': float, 
        'Sub_metering_2': float,'Sub_metering_3': float}, infer_datetime_format=True, parse_dates={'DateTime':[0,1]}, index_col=['DateTime'])

In [16]:

#Nearest neighbour interpolation used because electricity reading is less likely to change dramatically in a timeseries
#this frequency
df = df.interpolate(method='nearest', axis=0).ffill().bfill()

In [13]:
# writing to csv
df.to_csv('../../dataset/cleaned.csv')
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
DateTime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [5]:
print("The PreProcessed Data is stored in cleaned.csv")

The PreProcessed Data is stored in cleaned.csv

In [17]:
cleaned_df = pd.read_csv('../../dataset/cleaned.csv', dtype = {'Global_active_power': float, 
        'Global_reactive_power': float, 'Voltage': float, 'Global_intensity': float, 'Sub_metering_1': float, 
        'Sub_metering_2': float,'Sub_metering_3': float})
print(cleaned_df.isnull().sum())

DateTime                 0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [18]:
cleaned_df.head()

,DateTime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0